<a href="#/flights/{{_id}}" class="added-flight">
    <img src="{{#if imageUrl}}{{imageUrl}}{{else}}https://www.freeiconspng.com/uploads/no-image-icon-15.png{{/if}}" alt="" class="picture-added-flight">
    <h3 style="text-transform:uppercase">{{destination}}</h3>
    <span>from {{origin}}</span><span>{{!-- 20 April--}}{{departure}}</span>
</a>