<ul>
    {{#each contacts}}
        <li class="contact">
            <div class="title">{{{name}}} <button>&#8505;</button>
            </div>
            <div class="info">
                {{#if phone}}
                    <span>&phone; {{phone}} </span>
                {{else}}
                    <spna>&phone; none </spna>
                {{/if}}
                <span>&#9993; {{email}}</span>
            </div>
        </li>
    {{else}}
        <li>
            <i>(empty collection)</i>
        </li>
    {{/each}}
</ul>
